

@import url(css/clear.css);
@import url(css/bootstrap.css);
@import url(css/fonts.css);



















/*----------------Nav bar start--------------*/


.menu-icon{
    width: 2rem;
    margin-top: .7rem;
     
}
.btn{
    padding: 0;
}


/*----------------Nav bar end--------------*/
