
/* css files */

@import url(css/clear.css);
@import url(css/bootstrap.css);
@import url(css/fonts.css);
@import url(css/navbar.css);

/* css files */

/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

/* fonts */



:root{
    --main-color: #2BD1BE;
    --main-text-color: #262626;
    --secondary-text-color: #242424;
}

.wrapper{
    overflow-x: hidden;
    
}

body{
    padding-top:5rem;
}


/* Header start */

header{
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    animation: drop-header 1.5s ease;
}

main{
    width: 85%;
    margin: auto;
}
nav{
    display:flex;
    justify-content:space-between;
    align-items: center;
    min-height: 70px;
    background-color: rgb(255, 255, 255);
    padding: 0;
    width: 85%;
    margin: auto;
    
}
.logo{
    display: flex;
}
.logo h1{
    color:var(--main-text-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 32px;
    margin-bottom:0px ;
    line-height: 0px;  
}
.logo p{
    color:var(--main-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 38px;
    margin-bottom:0;
    line-height: 0;
    margin-top: -2px;
    margin-left:53px
}
.nav-links{
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding-top: 0px;
    margin-bottom: 0;
}
.nav-links li{
    list-style: none;
    padding-top:0;
}
.nav-links  :hover{
    color: var(--main-color); 
    transform: translateY(1.8px);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.nav-links  :active{
    color: var(--main-color);
    transform: translateY(3px);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); 
    
}
.nav-links a{
    color: var(--secondary-text-color);
    text-decoration:none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 0;
    
    
    
}
.burger{
    display: none;
    cursor: pointer;
    padding-bottom: 0px;
}
.burger div{
    
    background-color: var(--main-text-color);
    transition: all 0.3s ease;
}
.line1{
    margin:0 0 5px 0;
    width: 25px;
    height: 3px;
    border-radius: 10px;
}
.line2{
    margin:0 0 5px 0;
    width: 20px;
    height: 3px;
    border-radius: 10px;
    margin-left: 5px; 
}
.line3{
    margin:0 0 0 0;
    width: 25px;
    height: 3px;
    border-radius: 10px;
}

/* Header end */

/* home page start */

.home-page{
    display: flex;
    width: 100%;
    min-height: 90vh;
    /* background-color: antiquewhite; */
    align-items: center;
}

.introduction{
    /* background-color: azure; */
    width: 50%;
    padding: 0 0 110px 0;
    animation: drop-intro 1.5s ease;
}

.intro-text p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--secondary-text-color);
    line-height: 0;
    margin: 0 0 35px 0;
}

.intro-text h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 40px;
    color:#000;
    line-height: 0;
    margin: 0 0 45px -2.5px;
}

.intro-text h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--secondary-text-color);
    line-height: 0;
    margin: 0 0 40px 0;
}

.social-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    padding: 0 0 0 0;
    
}
.social-icons li{
    list-style: none;
    width: 26px;
}
.social-icons img{
    width: 100%;
}
.social-icons  :hover{ 
    transform: translateY(1.4px);
    transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.social-icons  :active{
    transform: translateY(3px);
    transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1); 
    
}
.hire-me-btn{
    padding:20px 0 0 0;
}
.hire-me{
    border:none ;
    background-color: var(--main-color);
    color: white;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    /* padding: 10px 20px 10px 20px; */
    width: 150px;
    height: 50px;
}
.hire-me-btn :hover{
    background-color: #00c5ae;
    box-shadow: 5px 5px 10px  rgba(0,0,0,0.1);
    transform: translateY(3px);
    transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hire-me-btn :active{
    transform: translateY(9px);
    transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1); 
}




.cover{
    /* background-color: lightcyan; */
    width: 100%;
    width: 700px;
    display: flex;
    justify-content: center;
    padding: 0 0 100px 0;
}

.cover img{
    width: 100%;
    animation: drop-cover 1.5s ease;
}

/* home page end */

@media screen and (max-width:1024px){

/* Tab Header start */

    nav{
        width: 96%;
    }
    .nav-links{ 
        width: 50%;
    }

 /* Tab Header end */


    main{
        width: 96%;
    }

/* Home page start */

    .home-page{
        flex-direction: column;
        text-align: center;
        /* background-color: wheat; */
        min-height: 120vh;
    }

    .introduction{
        /* background-color: azure; */
        width: 100%;
        padding: 100px 0 0 0;
        
    }
    .intro-text p{
        color: var(--main-color);
    }
    .intro-text h1{
        font-weight: 600;
        font-size: 34px;
        /* text-transform: uppercase; */
    }
    .intro-text h6{
        padding: 0 0 50px 0;
    }
   
   
    .social-icons{  
        margin: 0 auto 0 auto;
        width: 40%;
        padding: 0 0 30px 0;
        
    }
    .social-icons li{
        list-style: none;
        width: 26px;
    }
    .social-icons img{
        width: 100%;
    }
    .hire-me-btn{
        padding: 50px 0 50px 0;
    }
    .cover{
        width: 100%;
        width: 600px;
    }
    .cover img{
        width: 100%;
        margin: 0 0 0 0;
    }

    /* Home page end */
 
    
}

@media screen and (max-width:768px){

/* Mobile Header start */

    
    header{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .nav-links{
        position: absolute;
        right:0px;
        height: 60vh;
        top: 10vh;
        background-color:rgb(255, 255, 255);
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        
    }
    
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
        
    }


    .logo h2{
        color:var(--secondary-text-color);
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
    }

    /* Mobile Header end */


    /* .home-page start */

    .cover{
        width: 100%;
        width: 330px;
        padding: 0px 0 0 0;
    }
    
    /* .home-page end */
}

.nav-active{
    transform: translateX(0%);
}



/* navbar animation start */

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);    
}
    
.toggle .line2{
   opacity: 0; 
}
    
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
   
/* navbar animation end */

/*Home animation start*/

@keyframes drop-header{
    0%{
        opacity: 0;
        transform: translateY(-300px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px); 
    }
}

@keyframes drop-intro{
    0%{
        opacity: 0;
        transform: translateY(-800px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px); 
    }
}

@keyframes drop-cover{
    0%{
        opacity: 0;
        transform: translateX(800px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px); 
    }
}

/*Home animation end*/